<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <p>{{title}}</p>
    <form action="/manage/change_password/" method="post" id="manage-form">
        {% csrf_token %}
  <div class="form-row">
    <label class="required" for="password">修改密码:</label>
      <input type="password" name="valid_password" autofocus="" maxlength="254" required="" id="password">
  </div>
<div class="form-row">
    <label class="required" for="confirm">确认密码:</label>
      <input type="password" name="password_confirm" autofocus="" maxlength="254" required="" id="confirm">
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="修改密码">
  </div>
</form>
</head>
<body>

</body>
</html>