{% extends "../header.html"%}
{% block static_file %}
<script>
    function assign(version_name, )

</script>
{% endblock %}
{% block body_content %}

<div class="container">

        <table class="ui celled table">
            <thead>
            <tr>
                <th>版本</th>
                <th>状态</th>
                <th>人员</th>
            </tr>
            </thead>
            <tbody>
                {% for info in version_staff %}
                    <tr>
                        <td>{{version_name}}</td>
                        <td>{{stage_info.stage_status}}
                            {% if stage_info.error != -1 %}
                                剩余时间为{{stage_info.left_days}}天
                            {% endif %}
                        </td>
                        <td>
                        {% for staff in staff_info %}
                            <span class="assigned active">{{staff}}</span>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr><td class="unassigned_staff" colspan="3">
                    {% for staff in unassigned_staff %}
                        <span class="assigned">{{staff}}</span>
                    {% endfor %}
                </td></tr>
            </tbody>
        </table>
</div>
{% endblock %}