{% extends "../header.html"%}
{% block static_file %}
<style>
.model {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,1);
    color:rgb(255,255,255);
}
.name {
    width:120px;
    float:left;
    cursor:pointer;
}

</style>
{% endblock %}
{% block body_content %}

<div class="container">
        <div id="myModel" class="model"></div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>版本</th>
                <th>状态</th>
                <th>人员</th>
            </tr>
            </thead>
            <tbody>
                {% for info in version_staff %}
                    <tr>
                        <td>{{info.version_name}}</td>
                        <td>{{info.stage_info.stage_status}}
                            {% if info.stage_info.error != -1 %}
                                剩余时间为{{info.stage_info.left_days}}天
                            {% endif %}
                        </td>
                        <td>
                        {% for staff in info.staff_info %}
                            <div class="name">
                            <a class="assigned" version="{{info.version_name}}" title="{{staff}}">
                                {{staff}}</a>
                            </div>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr><td class="unassigned_staff" colspan="3">

                    {% for staff in unassigned_staff %}
                        <div class="name">
                        <a class="unassigned" title="{{staff}}">{{staff}}</a>
                        </div>
                    {% endfor %}
                </td></tr>
            </tbody>
        </table>
</div>
<script>
    function assign(version_name, staff_name) {

        data = {
            'version_name':version_name,
            'staff_name':staff_name,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        }
        $.ajax({
            url:'/manage/assign/',
            data:data,
            type:'post',
            success:function(msg){

                if(msg=='success'){
                    alert('版本计划更新成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败');
                }
            }
        });
        window.location.reload();
    }

    function unassign(version_name, staff_name) {
        data = {
            'version_name':version_name,
            'staff_name':staff_name,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        }
         $.ajax({
            url:'/manage/unassign/',
            data:data,
            type:'post',
            success:function(msg){

                if(msg=='success'){
                    alert('释放人员成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败');
                }
            }
        });
        window.location.reload();

    }

    $('a.unassigned').on('click', function(){
        staff_name = $(this).attr('title');
        html = "<div>"+
            "<span onclick=$('#myModel').hide()>取消</span>"+
        "<div>"
                +"<ul>"
                {% for info in version_staff %}
                     +"<li><span onclick=assign('{{info.version_name}}','"+staff_name+"')>"
                     +"{{info.version_name}}</span></li>"
                {% endfor %}
                +"</ul></div></div>"
        $("#myModel").children().remove();
        $("#myModel").append(html);
        $("#myModel").show();
    })

    $('a.assigned').on('click', function(){
        version_name = $(this).attr('version');
        staff_name = $(this).attr('title');
        html =  "<div class='container'>"+
            "<span onclick=unassign('"+version_name+"','"+staff_name+"')>释放人员</span>"+
            "<span onclick=$(this).parent().hide()>取消</span>"+
        "</div>"
        $(this).parent().append(html);
    })

</script>
{% endblock %}