{% extends "../header.html"%}
{% block static_file %}

{% endblock %}
{% block body_content %}

<div class="container">

        <table class="ui celled table">
            <thead>
            <tr>
                <th>版本</th>
                <th>状态</th>
                <th>人员</th>
            </tr>
            </thead>
            <tbody>
                {% for info in version_staff %}
                    <tr>
                        <td>{{info.version_name}}</td>
                        <td>{{info.stage_info.stage_status}}
                            {% if info.stage_info.error != -1 %}
                                剩余时间为{{info.stage_info.left_days}}天
                            {% endif %}
                        </td>
                        <td>
                        {% for staff in info.staff_info %}
                            <span class="assigned" version="{{info.version_name}}" title="{{staff}}">
                                {{staff}}</span>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr><td class="unassigned_staff" colspan="3">
                    {% for staff in unassigned_staff %}
                        <span class="unassigned" title="{{staff}}">{{staff}}</span>
                    {% endfor %}
                </td></tr>
            </tbody>
        </table>
</div>
<script>
    function assign(version_name, staff_name) {

        data = {
            'version_name':version_name,
            'staff_name':staff_name,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        }
        $.ajax({
            url:'/manage/assign/',
            data:data,
            type:'post',
            success:function(msg){

                if(msg=='success'){
                    alert('版本计划更新成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败');
                }
            }
        });
        window.location.reload();
    }

    function unassign(version_name, staff_name) {
        data = {
            'version_name':version_name,
            'staff_name':staff_name,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        }
         $.ajax({
            url:'/manage/unassign/',
            data:data,
            type:'post',
            success:function(msg){

                if(msg=='success'){
                    alert('释放人员成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败');
                }
            }
        });
        window.location.reload();

    }

    $('span.unassigned').on('click', function(){
        staff_name = $(this).attr('title');
        html = "<div class='container'>"+
            "<span onclick=$(this).parent().hide()>取消</span>"+
        "<div>"
                +"<ul>"
                {% for info in version_staff %}
                     +"<li><span onclick=assign('{{info.version_name}}','"+staff_name+"')>"
                     +"{{info.version_name}}</span></li>"
                {% endfor %}
                +"</ul></div></div>"
        $(this).parent().append(html);
    })

    $('span.assigned').on('click', function(){
        version_name = $(this).attr('version');
        staff_name = $(this).attr('title');
        html =  "<div class='container'>"+
            "<span onclick=unassign('"+version_name+"','"+staff_name+"')>释放人员</span>"+
            "<span onclick=$(this).parent().hide()>取消</span>"+
        "</div>"
        $(this).parent().append(html);
    })

</script>
{% endblock %}