{% extends "../header.html"%}

{% block static_file %}
<script>
    function add_stage_change(){
        var tr =$(this).closest("tr");
        arr_tr = tr.find('td');
        version_name = $('#version_name').val();
        data = {
            'action':'add_stage',
            'version_name': version_name,
            'version_plan_workload':version_plan_workload,
            'stage': arr_tr[0],
            'plan_start_date':arr_tr[1],
            'plan_end_date':arr_tr[2],
            'plan_work_load':arr_tr[3],
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        $.ajax({
            url:'edit',
            data:data ,
            type:'post',
            success:function(msg){
                if(msg==0){
                    alert('版本计划更新成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败')
                }
            }
        });
    }

    function edit_all(){
        version_name = $('#version_name').val();
        version_plan_workload = $('#version_plan_workload').val();
        info = $('tr.stage_info');
        stage_infos = [];
        for (var index=0;index<info.length;++index){
            stage_info = {
                'stage' : $(info.find('td')[0]).text(),
                'plan_start_date' : $(info.find('td input')[1]).val(),
                'plan_end_date' : $(info.find('td input')[2]).val(),
                'plan_work_load' : $(info.find('td input')[3]).val(),
            }
            stage_infos.push(stage_info);
        }

        data = {
            'action': 'edit_all',
            'version_name': version_name,
            'version_plan_workload':version_plan_workload,
            'stage_infos': JSON.stringify(stage_infos),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        }
        $.ajax({
            url:'edit',
            data:data,
            type:'post',
            success:function(msg){
                if(msg==0){
                    alert('版本计划更新成功');
                    console.log('更新成功');
                }else{
                    alert(msg);
                    console.log('更新失败');
                }
            }
        });
    }

    window.onload = function(){
        $('#edit_confirm').on('click', edit_all);
    }


</script>

{% endblock %}

{% block body_content %}

<div class="container">
    <h2 class="ui dividing header"> {{version_info.version_name}} 版本计划修改</h2>
    <input id="version_name" value="{{version_info.version_name}}" hidden>
    <div><label>计划工作量</label><input id="version_plan_workload" type="number" value="{{version_info.plan_workload}}"></div>
    <div class="table_container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th rowspan="2">阶段</th>
                <th colspan="3">计划</th>
                <th colspan="3">实际</th>
            </tr>
            <tr>
                <th>计划开始时间</th>
                <th>计划结束时间</th>
                <th>计划工作量</th>
                <th>实际开始时间</th>
                <th>实际结束时间</th>
                <th>实际工作量</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stage_info %}
            <tr class="stage_info">
                <td>{{stage.stage}}</td>
                <td><input type="date" value="{{stage.plan_start_date|date:'Y-m-d'}}"></td>
                <td><input type="date" value="{{stage.plan_end_date|date:'Y-m-d'}}"></td>
                <td><input type="number" value="{{stage.plan_workload}}"></td>
                <td><input type="date" value="{{stage.actual_start_date|date:'Y-m-d'}}" readonly></td>
                <td><input type="date" value="{{stage.actual_end_date|date:'Y-m-d'}}" readonly></td>
                <td><input type="number" value="{{stage.used_workload}}" readonly></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <button type="button" id="edit_confirm">提交修改</button>
    </div>

</div>
{%endblock%}