{% extends "../header.html"%}

{% block body_content %}

<div class="container">
    <h2 class="ui dividing header"> 版本计划</h2>
    {%for type in types%}
    <a href="{{type.site}}"><span>{{type.name}}</span></a>
    {% endfor %}
    <h2 class="ui dividing header"></h2>
    <div class="table_container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>序号 </th>
                <th>修改时间 </th>
                <th>计划开始时间 </th>
                <th>计划结束时间 </th>
                <th>计划工作量 </th>
            </tr>
        </thead>
        <tbody>
        {% for version_info in version_infos %}
            <tr>
                {% if version_info.row %}
                    <td rowspan="{{version_info.row}}">
                        <a href="{{version_info.site}}" >{{version_info.name}}</a>
                    </td>
                    {% for stage in version_info.stage %}
                        <td>{{stage.stage}}</td>
                        <td>{{stage.plan_start_date|date:"Y-m-d"}}</td>
                        <td>{{stage.actual_start_date|date:"Y-m-d"}}</td>
                        <td>{{stage.plan_end_date|date:"Y-m-d"}}</td>
                        <td>{{stage.actual_end_date|date:"Y-m-d"}}</td>
                        <td>{{stage.plan_workload}}</td>
                        <td>{{stage.used_workload}}</td>
            </tr>
            <tr>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{%endblock%}

