{% extends "../header.html"%}

{% block body_content %}

<div class="container">
    <h2 class="ui dividing header"> 版本计划</h2>
    {%for type in types%}
    <a href="{{type.site}}"><span>{{type.name}}</span></a>
    {% endfor %}
    <h2 class="ui dividing header"></h2>
    <div class="table_container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th colspan="2">版本</th>
                {% for date in date_list %}
                <th style="max-width:60px">{{date|date:"m/d"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for version_info in version_infos %}
            <tr>
                <td rowspan="{{version_info.row}}">
                    <a href="{{version_info.site}}" >{{version_info.name}}</a>
                </td>
                <td>计划</td>
                {% for stages in version_info.stage_plan %}
                    <td>{{stages}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>实际</td>
                {% for stages in version_info.stage_actual %}
                    <td>{{stages}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{%endblock%}

